.box-container {
	display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 1.5rem;
    margin: 1rem;

    @media screen and (min-width: 50rem) {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}
}

.box {
	background: $c-white;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba($c-black,0.25);
	padding: 1rem;

	p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 0.8em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}