// <HeroCard />

.hero-card {

	&--dc &__publisher {
		color: $c-dc;
	}

	&--marvel &__publisher {
		color: $c-marvel;
	}
}

// <EditHero />

.hc-dialog {

	.v-input.title input {
		font-weight: bold;
	}

	&--dc {
		background: rgba($c-dc,.05);
		border-top: 1px $c-dc solid;
	}

	&--marvel {
		background: rgba($c-marvel,.05);
		border-top: 1px $c-marvel solid;
	}
}