// SASS Imports

@import "vars";
@import "reset";
// @import "framework";
// @import "bg-colors";
// @import "box";

html {
	font-size: 20px; // REM Reset
	overflow-y: auto;
}

body {
	font-family: 'IBM Plex Sans', Avenir, Helvetica, Arial, sans-serif;

	// Body background image

	background-image: url(~@/assets/images/heroes.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// Background colors

#app {
	transition: background 200ms; // background-color transitions between views

	// Home (we could set this as the default value for #app and remove the class home in index.js)

	.home & {
		background-color: rgba($c-white,0.95);
	}

	// DC Heroes

	.dc & {
		background-color: rgba($c-dc,0.95);
	}

	// Marvel Heroes

	.marvel & {
		background-color: rgba($c-marvel,0.95);
	}

	// All Heroes

	.all & {
		background-color: rgba(#000,0.85);
	}
}
