// Google Font Import

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap');

// SASS Imports

@import "vars";
@import "reset";
@import "hero-cards";

html {
	font-size: 20px; // REM Reset
	overflow-y: auto;
}

body {
	font-family: 'IBM Plex Sans', Avenir, Helvetica, Arial, sans-serif;

	// Body background image

	background-image: url(~@/assets/images/heroes.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// Pages background colors

#app {
	transition: background 200ms; // background-color transitions between views

	// Home (we could set this as the default value for #app and remove the class home in index.js)

	.home & {
		// background-color: rgba($c-white,0.95);
		background-color: rgba($c-black, 0.85);
	}

	// DC Heroes

	.dc & {
		background-color: rgba($c-dc,0.95);
	}

	// Marvel Heroes

	.marvel & {
		background-color: rgba($c-marvel,0.95);
	}
}

// Menu Buttons

.dc-btn,
.marvel-btn {
	font-size: 16px;

	&.v-btn--active:before,
	&.v-btn:focus:before,
	&.v-btn:hover:before {
		background: transparent;
	}

	.v-btn__content:after {
		content: "";
		position: absolute;
		left: 0; bottom: 0; right: 0;
		border-bottom: 2px solid transparent;
		transform-origin: left;
		transform: scaleX(0);
		transition: all 300ms;
	}

	&.v-btn--active,
	&.v-btn:focus,
	&.v-btn:hover {

		.v-btn__content:after {
			transform: scaleX(1);
		}
	}
}

.dc-btn {

	&.v-btn--active,
	&.v-btn:focus,
	&.v-btn:hover {
		color: var(--v-primary-base);

		.v-btn__content:after {
			border-color: var(--v-primary-base);
		}
	}
}

.marvel-btn {

  &.v-btn--active,
  &.v-btn:focus,
  &.v-btn:hover {
    color: var(--v-secondary-base);

    .v-btn__content:after {
      border-color: var(--v-secondary-base);
    }
  }
}

// Add Hero Button

.add-hero-btn {
	width: auto !important;
	border-radius: 72px;
	padding: 0 26px 0 20px;

	.v-btn__content {
		font-size: 15px;
		font-weight: bold;
	}

	.v-icon {
		margin-right: 6px;
	}
}