// SASS Imports

@import "vars";
@import "reset";
@import "framework";
@import "bg-colors";
@import "box";

// REM Reset

html {
	font-size: 20px;
	overflow-y: auto;
}

// html,
// body {
// 	height: 100%;
// }

body {
	font-family: 'IBM Plex Sans', Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Body background image 
	background-image: url(~@/assets/images/home.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#app {
	// Enables background-color transitions between views
	transition: background 200ms;
}

// // Back Button (TopLinks)

// .back-button {
// 	display: inline-block;
// 	background: $c-white;
// 	padding: 0.5em 1em;
// 	margin-left: 1rem;
// 	line-height: 1;
// 	text-decoration: none;
// 	border-radius: 1rem;
// 	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
// }